#probox {
    display: flex;
    flex-direction: column;
    transition-duration: 0.6s;
    box-shadow: 2px 2px 3px 0px rgb(88, 88, 88);
    width: 100%;
    height: 100%;
}

#probox:hover {
    box-shadow: 2px 2px 10px 1px rgb(88, 88, 88);
    transform: scale(1.01);
    transition-duration: 0.6s;
}

#proimg {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#proimg img {
    width: 100%;
    height: 145px;
    object-fit: cover;
}

#protitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    flex-grow: 1;
}

#protitle h1 {
    font-size: 23px;
    font-weight: 400;
}

#lang {
    display: flex;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    row-gap: 2px;
    column-gap: 2px;
    flex-wrap: wrap;
}

#lang p {
    background-color: #bcc5cf;
    padding: 1px 2px;
    border-radius: 4px;
    color: #495158;
}

.link {
    background-color: #d1e7ff;
    width: 100%;
    display: flex;
    padding: 6px 4px;
    justify-content: space-evenly;
    margin-top: auto; 
}

.link a {
    color: #495158;
}

.link a:hover {
    color: black;
}