#probox {
    border: 1px solid rgb(72, 72, 72);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    width: 20%;
    position: relative;
    transition-duration: 0.5s;

}
#protitle h1{
    font-size: 26px;
}
#probox:hover {
    transform: scale(1.03);
    transition-duration: 0.5s;
    box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.5);
}

#probox button{
    font-weight: 400; 
    border :1px solid black;
}
#floatobj{
    padding-bottom: 10px;
}