.title
{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    color:#212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.title h2{
    font-size: 32px;
    color:#000F38;
    margin-top: 5px;
    text-transform: none;
    margin-bottom: 0.5rem;
}