.title{
    display: flex;
    width: fit-content;
    column-gap: 10px;
    margin: 0 auto;
}


.title h2 {
    font-size: 32px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
    margin-bottom: 0.5rem;
}